# LAB 17 (AUTOMATION)

In [134]:
import pandas as pd

## Reading the data

In [135]:
df=pd.read_csv('daily_report_python.csv')
df

,Meeting ID,Topic,Start Time,End Time,User Email,Duration (Minutes),Participants,Unnamed: 7
0,94260712307,BTEC Fall Training,11/08/2022 08:57:15 AM,11/08/2022 11:11:34 AM,b.Jaber@ltuc.com,135,64,NaN
1,Name (Original Name),User Email,Join Time,Leave Time,Duration (Minutes),Guest,Recording Consent,In Waiting Room
2,Boshra Jaber,b.jaber@ltuc.com,11/08/2022 08:57:15 AM,11/08/2022 09:41:03 AM,44,No,NaN,No
3,Mostafa Albelbeisi,20020480@student.ltuc.com,11/08/2022 08:57:34 AM,11/08/2022 11:11:34 AM,134,No,NaN,No
4,Mohannad Ghabashneh,22034356@student.ltuc.com,11/08/2022 08:57:35 AM,11/08/2022 11:11:34 AM,134,No,NaN,No
...,...,...,...,...,...,...,...,...
61,Tahani Ali,NaN,11/08/2022 10:42:45 AM,11/08/2022 10:44:21 AM,2,Yes,NaN,No
62,Tahani Ali,NaN,11/08/2022 10:46:22 AM,11/08/2022 11:11:34 AM,26,Yes,NaN,No
63,رزان عويضات,NaN,11/08/2022 09:36:33 AM,11/08/2022 09:37:59 AM,2,Yes,NaN,No
64,Tahani Ali,NaN,11/08/2022 10:44:22 AM,11/08/2022 10:45:39 AM,2,Yes,NaN,No
65,Walaa Atiyh,NaN,11/08/2022 11:01:33 AM,11/08/2022 11:11:34 AM,11,Yes,NaN,No

## Splitting, Editing the data

In [136]:
dfs,dfedit=df[:1], df[1:]

dfedit.columns=dfedit.iloc[0]
dfedit.drop(dfedit.index[0],inplace=True)

/tmp/ipykernel_467/600580050.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfedit.drop(dfedit.index[0],inplace=True)

## Getting the student ID

In [137]:
dfedit['Student_ID']=dfedit['User Email'].str.extract(pat='(^[0-9]*)')
dfedit

/tmp/ipykernel_467/1324011398.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfedit['Student_ID']=dfedit['User Email'].str.extract(pat='(^[0-9]*)')

1,Name (Original Name),User Email,Join Time,Leave Time,Duration (Minutes),Guest,Recording Consent,In Waiting Room,Student_ID
2,Boshra Jaber,b.jaber@ltuc.com,11/08/2022 08:57:15 AM,11/08/2022 09:41:03 AM,44,No,NaN,No,
3,Mostafa Albelbeisi,20020480@student.ltuc.com,11/08/2022 08:57:34 AM,11/08/2022 11:11:34 AM,134,No,NaN,No,20020480
4,Mohannad Ghabashneh,22034356@student.ltuc.com,11/08/2022 08:57:35 AM,11/08/2022 11:11:34 AM,134,No,NaN,No,22034356
5,Abdallah Mousa,22033848@student.ltuc.com,11/08/2022 08:58:00 AM,11/08/2022 11:11:34 AM,134,No,NaN,No,22033848
6,Ashar Momani,NaN,11/08/2022 08:58:14 AM,11/08/2022 11:11:34 AM,134,Yes,Yes,No,NaN
...,...,...,...,...,...,...,...,...,...
61,Tahani Ali,NaN,11/08/2022 10:42:45 AM,11/08/2022 10:44:21 AM,2,Yes,NaN,No,NaN
62,Tahani Ali,NaN,11/08/2022 10:46:22 AM,11/08/2022 11:11:34 AM,26,Yes,NaN,No,NaN
63,رزان عويضات,NaN,11/08/2022 09:36:33 AM,11/08/2022 09:37:59 AM,2,Yes,NaN,No,NaN
64,Tahani Ali,NaN,11/08/2022 10:44:22 AM,11/08/2022 10:45:39 AM,2,Yes,NaN,No,NaN
65,Walaa Atiyh,NaN,11/08/2022 11:01:33 AM,11/08/2022 11:11:34 AM,11,Yes,NaN,No,NaN

## Getting the duration of lecture

In [138]:
duration=df['Duration (Minutes)'][0]
duration=int(duration)
duration

135

## Time of presence for every student

In [139]:
dfedit['Presence_Time']=dfedit['Duration (Minutes)'].astype('int')
dfedit=dfedit.groupby(['Student_ID'],as_index=False).sum(numeric_only=True)
dfedit=dfedit[1:]
dfedit

/tmp/ipykernel_467/4208382687.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfedit['Presence_Time']=dfedit['Duration (Minutes)'].astype('int')

1  Student_ID  Presence_Time
1    19012233            132
2    20019322            131
3    20019523            120
4    20020480            134
5    21023784            124
6    22032930            130
7    22033848            134
8    22034140            130
9    22034185            107
10   22034186            128
11   22034189            132
12   22034245            130
13   22034252            130
14   22034270            133
15   22034278            126
16   22034284            127
17   22034289            127
18   22034306            122
19   22034311            121
20   22034319            123
21   22034326            127
22   22034356            134
23   22034359            132
24   22034361            127
25   22034362             61
26   22034365            125
27   22034368            133
28   22034371            122

## Determining the status of attendance of every student according to the time he spent in the lecture during the lecture

In [140]:
dfedit["status"]= ['Present' if x >= duration-10 else "Absent" if x <duration-20 else "late" for x in dfedit['Presence_Time']] 
dfedit

1  Student_ID  Presence_Time   status
1    19012233            132  Present
2    20019322            131  Present
3    20019523            120     late
4    20020480            134  Present
5    21023784            124     late
6    22032930            130  Present
7    22033848            134  Present
8    22034140            130  Present
9    22034185            107   Absent
10   22034186            128  Present
11   22034189            132  Present
12   22034245            130  Present
13   22034252            130  Present
14   22034270            133  Present
15   22034278            126  Present
16   22034284            127  Present
17   22034289            127  Present
18   22034306            122     late
19   22034311            121     late
20   22034319            123     late
21   22034326            127  Present
22   22034356            134  Present
23   22034359            132  Present
24   22034361            127  Present
25   22034362             61   Absent
26   22034365            125  Present
27   22034368            133  Present
28   22034371            122     late

## Reading the attendance data and adding it to the file

In [141]:
dfnew=pd.read_csv('data.csv')
dfnew['status']=dfedit['status']
dfnew['Student_ID']=dfedit['Student_ID']
dfnew.to_csv('data.csv')

dfnew

    Unnamed: 0   status Student_ID
0            1      NaN        NaN
1            2  Present   19012233
2            3  Present   20019322
3            4     late   20019523
4            5  Present   20020480
5            6     late   21023784
6            7  Present   22032930
7            8  Present   22033848
8            9  Present   22034140
9           10   Absent   22034185
10          11  Present   22034186
11          12  Present   22034189
12          13  Present   22034245
13          14  Present   22034252
14          15  Present   22034270
15          16  Present   22034278
16          17  Present   22034284
17          18  Present   22034289
18          19     late   22034306
19          20     late   22034311
20          21     late   22034319
21          22  Present   22034326
22          23  Present   22034356
23          24  Present   22034359
24          25  Present   22034361
25          26   Absent   22034362
26          27  Present   22034365
27          28  Present   22034368